/* arbitrary margins*/
div.margin {
  max-width:850px;
  margin: auto;
}

div.courier {
  font-family:"Courier New", Courier, monospace;
}

div.tab {
  margin-left: 40px;
}

p.right {
  text-align: right;
}

p.center {
  text-align: center;
}

p.red {
  color:red;
}

p.small {
  line-height: 0.7;
}
/* center images in "polite"*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
}
